*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: initial;
    padding: 0px;
 }

/* Header/ Blog Title */
.header {
    padding: 10px;
    text-align: center;
    background: rgb(156, 231, 221);
    color: rgb(3, 80, 21);
}
.header h1 {
    font-size: 40px;
    }
    h2{
        text-align: center;
        color: rgb(228, 194, 0);
    }
    
    h3{
        text-align: center;
        color: rgb(136, 1, 1);
    }
    
    .header p {
        font-size: 20px;
    }
    
    .topnav {
        overflow: hidden;
        background-color: rgb(249, 249, 253) ;
    }
    
    .topnav a {
        float: left;
        display: block;
        color: rgb(73, 44, 5);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    /* Thay đổi màu liên kết khi di chuột qua */
    .topnav a:hover {
        background-color: rgb(156, 231, 221);
        color: rgb(223, 140, 195);
    }
    




    body{
      background: url('./nen2.jpeg') ;
      background-size: cover;
      background-position-y: -90px;
      font-size: 16px;
  }
  #wrapper{
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  #form-login{
      max-width: 400px;
      background: rgba(0, 0, 0 , 0.8);
      flex-grow: 1;
      padding: 30px 30px 40px;
      box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.8);
  }
  .form-heading{
      font-size: 25px;
      color: #f5f5f5;
      text-align: center;
      margin-bottom: 30px;
  }
  .form-group{
      border-bottom: 1px solid #fff;
      margin-top: 15px;
      margin-bottom: 20px;
      display: flex;
  }
  .form-group i{
      color: #fff;
      font-size: 14px;
      padding-top: 5px;
      padding-right: 10px;
  }
  .form-input{
      background: transparent;
      border: 0;
      outline: 0;
      color: #f5f5f5;
      flex-grow: 1;
  }
  .form-input::placeholder{
      color: #f5f5f5;
  }
  #eye i{
      padding-right: 0;
      cursor: pointer;
  }
  
  .form-submit{
      background: transparent;
      border: 1px solid #f5f5f5;
      color: #fff;
      width: 100%;
      text-transform: uppercase;
      padding: 6px 10px;
      transition: 0.25s ease-in-out;
      margin-top: 30px;
  }
  .form-submit:hover{
      border: 1px solid #54a0ff;
  }


  footer{
    
    background:rgb(156, 231, 221);
    color:rgb(70, 9, 9);
}
footer .footer-item{
   text-align: center;
    display:inline-block;
    margin-bottom: 2px;
    width: 30%;
    margin-top: 5px;
    font-size: 15px;
}
footer .footer-item h3{
      margin: 30px 0;
}

footer.link a{
    display: block;
    text-align: center;
    margin: 2px 0;  
}

footer .footer-item:hover{
    color: rgb(235, 125, 0);
    font-weight: bold;
    transition: all 0.3s linear;
}
footer .footer-item:hover img{
    box-shadow:rgb(255, 255, 255) 0px 5px 8px;
    transition:all 0.3 linear
}

.tacgia{
    background:wheat;
    color: rgb(83, 3, 3);
    text-align: center;
    padding: 10px;
}
.tacgia{
    padding-top: 5px;
}

img{
    margin-left: 40px;
    width: 95%;
    height: auto;
}
.bn3>img{
    padding-top: 5%;
}
/* css phần heading của trang web*/
.heading{
    font-size: 28px;
    text-align: center;
    margin: 20px 0;
}

/* css login */
.login-form{
    margin:0 auto;
    width: 100%;
    text-align: center;
}
.login-form{
    display: flex;
    /* dàn các thẻ con thành hàng dọc */
    flex-direction: column;
    
}
/* css cho cái phần khung điền */
.login-form form input{
    padding: 10px 15px;
    border:1px solid rgb(185, 173, 173);
    font-family:'Quicksand',sans-serif;
    outline:none;
    margin: 10px 0;
    border-radius: 10px;
    transition:all 0.3 linear;
    font-size: 16px;
}
.login-form form input:focus{
    border:1px solid rgb(13, 117, 103);
}
/* css cho cái nút đăng kí */
.login-form form button{
    padding: 15px;
    background: white;
    border-radius: 10px;
    /* đường viền */
    border:1px solid rgb(13, 117, 103);
    /* kích cỡ chữ */
    font-size: 18px;
    /* cho chữ đậm */
    font-weight: bold;
    color:rgb(13, 117, 103);
}
.login-form form button:hover{
    background:rgb(13, 117, 103);
    color:white;
    transition:all 0.4 linear;
}
.link-login{
    text-decoration: none;
    color:black;
    margin:30px 0;
    display: block;
}
.link-login:hover{
    color:rgb(13, 117, 103);
    transition:all 0.4 linear;
}

/*css cho san pham footer*/
footer{
    width: 100%;
    background:rgb(43, 138, 125);
    color:rgb(255, 255, 255);
}
footer .footer-item{
   text-align: center;
    display:inline-block;
    margin-bottom: 30px;
    width: 30%;
    margin-top: 10px;
    font-size: 20px;
}
footer .footer-item h3{
      margin: 30px 0;
}

footer.link a{
    display: block;
    text-align: center;
    margin: 3px 0;  
}

footer .footer-item:hover{
    color: black;
    font-weight: bold;
    transition: all 0.3s linear;
}
footer .footer-item:hover img{
    box-shadow:rgb(255, 255, 255) 0px 5px 8px;
    transition:all 0.3 linear
}

.tacgia{
    background:wheat;
    color: rgb(34, 17, 17);
    text-align: center;
    padding: 10px;
}
.tacgia{
    padding-top: 10px;
}


.backtotop{
    position: fixed;
    bottom: 50px;
    right: 30px;
}

.backtotop a{
    padding: 15px;
    text-align: center;
    border-radius: 50%;
    font-size:20px;
    color:rgb(236, 230, 223);
    background:rgb(206, 69, 27) ;
}
